<div class="row">
  <div class="col-xl-3">
    <button type="button" class="btn btn-primary" (click)="_prevMonth()">Previous</button>
    <button type="button" class="btn btn-light">Today</button>
    <button type="button" class="btn btn-primary" (click)="_nextMonth()">Next</button>
  </div>
<div class="col-xl-6" style="text-align:center ">
  <h2>{{monthNames[d.getMonth()]}}</h2>
</div>
  <div class="col-xl-3">
    <button type="button" class="btn btn-primary">Month</button>
    <button type="button" class="btn btn-primary">Week</button>
    <button type="button" class="btn btn-primary">Day</button>
  </div>
</div>
